<!-- <div class="container"> -->
<a href class="navbar-brand">
  <span class="brand-text font-weight-light"
    ><strong>Recommender</strong> System</span
  >
</a>

<button
  class="navbar-toggler order-1"
  type="button"
  data-toggle="collapse"
  data-target="#navbarCollapse"
  aria-controls="navbarCollapse"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse order-3" id="navbarCollapse">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="../index.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="../pagro.html" class="nav-link">PAGRO</a>
    </li>
  </ul>
</div>

<!-- Right navbar links -->
<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
  <!-- Messages Dropdown Menu -->
  <li class="nav-item dropdown">
    <!-- SEARCH FORM -->
    <form class="form-inline ml-0 ml-md-3" id="searchForm">
      <div class="input-group input-group-md">
        <input
          class="form-control form-control-navbar"
          type="search"
          name="searchtItem"
          id="searchtItem"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-default" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="input-group d-flex align-items-center ml-3">
        <span>Search By: </span>
        <select class="custom-select ml-1" id="searchBy">
          <option value="barangay" selected>Barangay</option>
          <option value="farmer">Farmer</option>
        </select>
        <select class="form-control form-control ml-1" id="searchYear"></select>
      </div>
    </form>
  </li>
</ul>
<script>
  const searchForm = document.getElementById("searchForm");
  const searchYearContainer = document.getElementById("searchYear");
  const currentYear = new Date().getFullYear();
  let lastFiveyears = [];

  // populate last 5 years array
  for (let i = 0; i < 5; i++) {
    if (lastFiveyears.length == 0) {
      lastFiveyears.push(currentYear);
    } else {
      lastFiveyears.push(lastFiveyears.slice(-1) - 1);
    }
    searchYearContainer.insertAdjacentHTML(
      "afterbegin",
      `<option value="${lastFiveyears[i]}">${lastFiveyears[i]}</option>`
    );
  }

  searchForm.addEventListener("submit", function (e) {
    e.preventDefault();
    const searchBy = e.target.searchBy.value;
    console.log(e.target.elements[0].value);
    if (e.target.elements[0].value != "")
      window.location.href = `search.html?q=${e.target.elements[0].value}?type=${searchBy}?year=${searchYearContainer.value}`;
    else console.log("Query is empty");
  });
</script>
